!!!5
html
	head
		title vecturia
		link(rel='shortcut icon', href='http://vecturia.com/design/favicon.ico')
		link(rel='stylesheet', href='css/layout.css')
		meta(name='viewport', content='width=device-width')

	body
		script(type='text/javascript', src='js/jquery-1.8.2.min.js')
		script(type='text/javascript', src='js/jquery.hotkeys.js')

		// https://github.com/jeresig/jquery.hotkeys

		!= "<script type='text/javascript'>"
		- if (bookmarks!=null&&bookmarks instanceof Array)
			- for (var i=0;i<bookmarks.length;i++)
				$(document).bind('keydown', '#{bookmarks[i].shortcut.toLowerCase()}', function(e) { window.open('#{bookmarks[i].url}'); });
		!= "</script>"

		.dropdown

			- if(error)
				div.dropdown_option.error #{error}

			- if(!loggedin) 
				div.dropdown_option.black
					form(action='/login',method='post')
						input.add(type='submit',value='V')
						input.data(type='text', value='username',name='username')
						input.data(type='password', value='password',name='password')
			- else 
				a.dropdown_option.black(href='/logout') logout

			- if (bookmarks!=null&&bookmarks instanceof Array)
				- for (var i=0;i<bookmarks.length;i++)
					a.dropdown_option(href='#{bookmarks[i].url}',target='_blank', style='background-color:##{bookmarks[i].color}')
						.dropdown_key #{bookmarks[i].shortcut.toUpperCase()}
						| #{bookmarks[i].title}
						form(action='/remove',method='post')
							input(type='hidden',name='index',value='#{i}')
							input.add(type='submit',value='X')

			div.dropdown_option.grey_light
				form(action='/add',method='post')
					input.shortcut(type='text', value='X',name='shortcut')
					input.add(type='submit',value='+')
					input(type='text', value='http://',name='url')
